* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: #f4f6f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  
  height: 400px;
  width: 240px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
    background: #1ea9a2;
  width: 100%;
  height: fit-content;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  
  
  display: flex;
  flex-direction: column; 
  justify-content: center; 
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
  width: 100%; 
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border 0.3s ease;
}

.form-group input:hover {
    border: 1px solid #333;
}

.form-group input:focus {
  outline: none;
  border: 1px solid #333;
}

.button-group {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 10px; /* Added a little space above buttons */
}

button {
  padding: 10px 20px;
  border: none;
  width: calc(50% - 5px);
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.button-group button:hover{
    opacity: 0.9;
    box-shadow: inset 0 0 0 1px rgb(54, 31, 31);
}

.btn-register {
  background: #007bff;
  color: #fff;
}

.btn-register:hover {
  background: #0056b3;
}

.btn-login {
  background: #6c757d;
  color: #fff;
}

.btn-login:hover {
  background: #545b62;
}