* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: #f4f6f8;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mainidclass {
  background-color: #1ea9a2;
  height: 400px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  border-radius: 15px;
}


.form-container {
  background: #7eb4cf;
  width: 240px;
  height: 400px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);   
  align-items: center;
  justify-content: center;
}


.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
  
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  opacity: 1; 
  transition: opacity 0.3s ease
  
}



.form-group label:hover + input {
    opacity: 1; 
    border-color: #ccc;
}


.form-group input:hover {
    border: 1px solid #333;
    opacity: 0.5;
}


.form-group input:focus {
  outline: none;
  border-color: #007bff;
}


.button-group {
  display: flex;
 
  justify-content: space-between;
  
  text-align: center;        
}

button {
  padding: 10px 20px;      
  border: none;
  width: 48%;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s ease;
}
.button-group button:hover{
    
    opacity: 0.9;
    box-shadow: inset 0 0 0 1.5px rgb(54, 31, 31);
}


.btn-register {
  background: #007bff;
  color: #fff;
}

.btn-register:hover {
  background: #0056b3;
}

.btn-login {
  background: #6c757d;
  color: #fff;
}

.btn-login:hover {
  background: #545b62;
}
